/* body{
    background-color: #93D2F3;
}

.navbar{
    background-color: #0014B7;
    padding-left:50px;
    padding-right: 50px;
}

.navbar-brand span{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
}

.navbar-toggler{
    background-color: white;
}

.nav-item a{
    font-weight: bold;
}

.nav-item a :hover{
    color: #93D2F3;
}

#lien{
    color: white;
}

#navbarSupportedContent{
    display: flex;
    justify-content: right;
}

.navbar-nav li {
    padding-left: 45px;
}

.text-grand-format{
    color: #0014B7;
}

.text-petit-format span{
    color: #0014B7;
}

.btn{
    width: 150px;
    border-radius: 10px;
    border: solid 2px;
}

.btn1{
    background-color: #0014B7;
}

.btn1 a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.btn2{
    background-color: white;
}

.btn2 a{
    text-decoration: none;
    font-size: 20px;
    color: #0014B7;
}

.image1 img{
    width: 550px;
}

 */


